body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 初始时顶部对齐 */
    padding-top: 20px; /* 调整登录窗口距离顶部的距离 */
}

.login-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px; /* 设置登录窗口的宽度 */
}

.login-container h2 {
    margin-bottom: 20px; /* 标题和表单之间的间距 */
}

.form-group {
    margin-bottom: 15px; /* 表单项之间的间距 */
}

.form-group label {
    display: block; /* 使标签占据整行 */
    margin-bottom: 5px; /* 标签和输入框之间的间距 */
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%; /* 输入框填满整个容器宽度 */
    padding: 8px; /* 内边距 */
    border-radius: 4px; /* 圆角 */
    border: 1px solid #ccc; /* 边框 */
}

.form-group input[type="submit"] {
    background-color: #4CAF50; /* 绿色背景 */
    color: white; /* 白色文本 */
    padding: 8px 15px; /* 内边距 */
    border: none; /* 无边框 */
    border-radius: 4px; /* 圆角 */
    cursor: pointer; /* 鼠标悬停时变为手形 */
}

.form-group input[type="submit"]:hover {
    background-color: #45a049; /* 鼠标悬停时的背景色 */
}